html {
  height: 100%;
}

.App {
  text-align: center;
  font-family: ;
}

main {
  margin-top: 160px;
  margin-left: 10%;
  margin-right: 10%;
}

/* Start of Default CSS 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
end of default CSS */

/* Basics */
.pdp {
  text-align: left;
  margin-left: 22%;
  margin-right: 22%;
}

.flex-only {
  display: flex;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

/* NavBar */
.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  /* max-height: 60px; */
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar div {
  width: 15%;
  float: right;
  margin-right: 10%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

/* Logo */
#logo {
  width: 30px;
  float: left;
  margin-left: 10%;
}

/* Home */
#intro-blurb {
  text-align: left;
}

#intro-icons {
  float: left;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

#intro-icons a {
  color: #999;
}

#home-projects {
  display: flex;
  flex-direction: column;
}

.project-display-row {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

.project-display-row img {
  width: 600px; 
}

.project-display-caption {
  float: right;
  width: 40%;
  text-align: left;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.project-display-thumbnail {
  float: left;
}

.project-title {
  margin-bottom: 8px;
}

/* About */
.home-main {
  text-align: left;
}

#about-content-wrapper {
  display: flex;
}

.about-text {
  width: 71%;
  float: left;
  flex: 1;
  padding-right: 100px;
}

.about-picture {
  width: 29%;
  padding-left: 100px;
  color: blue;
  float: right;
}

.about-picture img {
  height: 400px;
  border-radius: 15px;
}

/* SugarsPDP */
.drop-shadow {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, .15);
}

.pdp-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.pdp-child-left {
  width: 20%;
}

.pdp-child-left ul {
  padding: 0;
  list-style-type: none;
}

.pdp-child-right {
  width: 80%;
  float: right;
}

.pdp-child-right img {
  width: 600px;
  float: right;
  border-radius: 10px;
}

.pdp-child-content-left {
  width: 25%;
  padding-right: 30px;
}

.pdp-child-content-right {
  width: 75%;
}

.pdp-child-content-right .list-img img {
  margin-top: 0;
}

.pdp-child-content-right img {
  width: 100%;
  border-radius: 10px;
}

.section-img {
  margin-top: 20px;
  margin-bottom: 45px;
}

.list-img {
  margin-bottom: 20px;
}

.gif {
  width: 50%!important;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  background: rgb(145, 92, 182);
  padding: 18px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 5px 15px rgba(145, 92, 182, .4);
}

.sugars-btn-size {
  margin: 100px 35px 100px 35px;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .9);
}

/* AirbnbPDP */
#airbnb-pdp h5 {
  margin-top: 0px;
}

.column-img {
  /* allows for columnation by setting width < 100% */ 
  width: 80%!important;
  margin-top: 20px;
}

video {
  width: 80%;
  margin-top: 20px;
}